// Responsive
mobile_first = false
breakpoint = 768px

// Better default colors - https://github.com/jenius/axis/blob/master/axis/settings.styl
red = #b2102a
orange = #f48943
light-red = #cf4b44
yellow = #fbcf79
green = #5d8b70
light-green = #aed8c1
dark-green = #40644F
light-blue = #1f88bf
blue = #324d94
purple = #504c5d
white = #fafafa
light = #eef3dd
black = #272727


//red = #B44326
//orange = #F2A34F
//yellow = #F8CA5C
//green = #7FC028
//light-blue = #52D7FE
//blue = #00a6fc
//purple = #8E48C2
//white = #fff


base1 = green
base2 = green
action-c = light-red

// Custom Palette
c1 = lighten(base1, 30%)
c2 = darken(base1, 0%)
c3 = lighten(base1, 0%)
c4 = darken(base1, 30%)
c5 = darken(base1, 90%)

// Custom Typography
kaushan = 'Kaushan Script', cursive;

headers = helvetica
header_color = dark-green
header_weight = 200
tagline_color = dark-green
body = segoe
body_color = dark-green
primary_ratio = perfect_fifth
secondary_ratio = minor_sixth

// Grid Settings
gutter = 3
parent_first = false
layout_direction = LTR
