---
layout: index-article
title: MirrorMonkey
articleOrder: 1
tags: ['Ilmainen kokeiluversio tulossa pian App Storeen and Google play Sovelluksiin']
---



.c1-2.bubble-l
    |Väsyttääkö sinua aina?
    br
    |Sinun pitäisi testata...

.c1-2.bubble-r
    |Onko sinulla toistuvia vatsaongelmia?
    br
    |Sinun pitäisi testata...

.c1-1
    img.mm.man(src='/img/mies-suru.png', alt='Epätoivoinen mies')

.c1-2.bubble-l
    |Oletko jo unohtanut mikä oli viimeinen liikuntasuorituksesi?
    br
    |Sinun pitäisi testata...

.c1-2.bubble-r
    |Teetkö liikaa töitä?
    br
    |Sinun pitäisi testata...

.c1-1
    img.mm.woman(src='/img/nainen-suru.png', alt='Epätoivoinen nainen')

.c1-1
    h2
        |Julkaisu
    p
        |Jos vastasit myöntävästi yhteenkään ylläolevista kysymyksistä, niin sinua ilahduttanee tieto siitä, että teemme paraikaa Mirror Monkey sovellusta hyvinvointiongelmiesi ratkaisuksi.

     != partial( 'contact-us', {header: 'Haluan ilmaisen MirrorMonkey sovelluksen kokeiluversion, joten lisätkää minut testikäyttäjäksi! ', nameLabel: 'Nimi', emailLabel: 'Sähköpostiosoite', messageContent: 'Liittyminen ilmaiseen kokeiluun', submitLabel:'Tilaan ilamisen kokeilun'} )

