---
layout: index-article
title: MirrorMonkey
articleOrder: 1
tags: ['Ilmainen kokeiluversio tulossa pian App Storeen and Google play Sovelluksiin']
---



.c1-2.bubble-l
    |Väsyttääkö sinua aina?
    br
    |Sinun pitäisi testata...

.c1-2.bubble-r
    |Onko sinulla toistuvia vatsaongelmia?
    br
    |Sinun pitäisi testata...

.c1-1
    img.mm.man(src='/img/mies-suru.png', alt='Epätoivoinen mies')

.c1-2.bubble-l
    |Oletko jo unohtanut mikä oli viimeinen liikuntasuorituksesi?
    br
    |Sinun pitäisi testata...

.c1-2.bubble-r
    |Teetkö liikaa töitä?
    br
    |Sinun pitäisi testata...

.c1-1
    img.mm.woman(src='/img/nainen-suru.png', alt='Epätoivoinen nainen')

.c1-1
    h2
        span(itemprop='name') MirrorMonkey
        |:n julkaisu
    p(itemprop='description') Jos vastasit myöntävästi yhteenkään ylläolevista kysymyksistä, niin sinua ilahduttanee tieto siitä, että teemme paraikaa MirrorMonkey sovellusta hyvinvointiongelmiesi ratkaisuksi.
    p(itemprop='audience') MirrorMonkey on tarkoitettu tavallisille ihmisille, joilla on vaikeuksia pitää liikunta ja syöminen sekä työnteko ja rentoutuminen tasapainossa.
    p Yhteen kapeaan hyvinvoinnin osa-alueeseen keskittyviä sovelluksia on useita kuten:
        span(itemprop='isSimilarTo') &nbsp; Sports Tracker, Food Substitutes, Anti-Depression App jne.
        span &nbsp;MirrorMonkey eroaa edellisistä siinä, että se tähtää kokonaisvaltaiseen hyvinvointiin ja itsetuntemukseen.
    p Kokeiluversion julkaisuaikatauluksi on suunniteltu
        time(itemprop='releaseDate' datetime="2014-04-01") maaliskuun alkua.
     != partial( 'contact-us', {header: 'Haluan ilmaisen MirrorMonkey sovelluksen kokeiluversion! ', nameLabel: 'Nimi', emailLabel: 'Sähköpostiosoite', messageContent: 'Liittyminen ilmaiseen kokeiluun', submitLabel:'Tilaan ilamisen kokeilun'} )

