// Axis included by plugin
// See http://roots.cx/axis/
// dont use base() - messes fonts

//Settings
site_max_width = 1824px
site_padding = 30px
// background is like white but littlebit transparent
site_background = white
header-height = 100px

c-mind = #fff
c-flow = #1e87be

@import 'jeet'


// done in jeet/reset.styl normalize()
//edit()

@import 'layout'
