---
title: Mind Flow
layout: index-layout
---
//- THIS IS JUST COPY OF /en/fi/index.html.jade - BECAUSE I'M NOT SURE WHICH ONE WILL BE THE DEFAULT

header#top
    .language
        a(href='/fi/', title='Vaihda kieli suomeksi', data-ng-click="$route.reload()", target="_self") FI
        a.selected(href='/en/', title='Change language to English', data-ng-click="$route.reload()", target="_self") EN
    != partial('index-menu', {key: 'articlesEn'})


//- Section of articles
section(data-ng-controller='BaseCtrl')
    != partial('index-articles', {key: 'articlesEn'})

    footer#bottom(role='contentinfo')
        span.mind Mind
        yingyang ☯
        span.flow Flow
        |© 2013, All rights reserved
