
.full-bg
    background-size cover
    min-height 75%
    &.slogan
        padding-top header-height
        background url(/img/slogan-bg.jpg) no-repeat center 100px fixed
        background-size: cover


.content
    center(75%)
    .c1-2
        column(1/2)
        margin-right 0
    .c1-1
        column(1/1)
    i.fa.fa.some
        color action-c
        font-size 20px
        padding-right 0.25em
        position relative
        top 2px

    i.fa.fa
        color green
        padding-right 0.5em


.panel
    margin-top 20px
    padding 20px 0
    &.slogan
        background rgba(255, 255, 255, .5)
        h1, h2, h3, h4, h5
            color dark-green



.c1-2.bubble-l
        bubble('right', light)
        margin: 0px auto 20px
.c1-2.bubble-r
        bubble('left', light)
        margin: 30px auto 0px

.call-to-action
    simple-button(action-c, large)
    color white
    margin 40px auto

img.mm
    height: 250px
    &.man
        width: 184px
    &.woman
        width: 256px

section
    height 100%
    article:nth-child(1)
        margin 5% auto

    article
        min-height 50%
        z-index 0
        transform translateZ( 0 )
        transition all 1s ease
        backface-visibility hidden
        center(site_max_width, site_padding)
        text-align center
        > header
            padding-top (header-height/2)
            //border-top: 1px solid light-green
            h1
                text-align center

        .tags
            column(1/1)
            //background site_background !important

.contacts
    >p
        padding-bottom 20px
    color light-green
    img.logo
        height 0
    i.fa.fa
        color lighten(green, 20%)
        padding-bottom 10px
    a, i.fa.fa.some
        text-decoration none
        color lighten(action-c, 30%)
    a:hover
        color lighten(action-c, 50%)
        text-decoration underline
        i.fa.fa.some
            color lighten(action-c, 50%)

    margin-bottom 100px
    font-size large


.contact
    margin-bottom 40px
    .title
        font-size larger
        font-family helvetica
    .name
        padding-top 5px
    img
        width 200px
        height 200px
        border-radius 50%
        border 5px solid light-green
    a
        text-decoration none
        color action-c
    a:hover
        text-decoration underline

// #content-3
//      p
//         area(color= simple-gradient(white strength = 10%))

#content-3
    color black
    min-height 90%
    background simple-gradient(#969061, strength = 30%)

#content-5
    background simple-gradient(#996146, strength = 30%)


// 4 columns
//@media (max-width: 1024px)


// 3 columns
//@media (max-width: 768px)

// Small tablet
@media (max-width: 640px)
    .content
        .contacts.c1-2
            column(1/1)
            p:first-child
                padding-top 10px

//Mobile
@media (max-width: 480px)
    .full-bg
        &.slogan
            background none
    section
        article:nth-child(1)
            padding-bottom inherit
    .content
        .c1-2
            column(1/1)

// Mobile
bp()

section
    border-radius 0

article
    div
        p
            float: none

.content
    center(100%)

endbp()
