
.full-bg
    background-size cover
    min-height 75%
    &.slogan
        padding-top header-height
        background url(/img/slogan-bg.jpg) no-repeat center 100px fixed
        background-size: cover


.content
    center(75%)
    .c1-2
        column(1/2)
        margin-right 0
    .c1-1
        column(1/1)
    i.fa.fa.some
        color action-c
        font-size 20px
        padding-right 0.5em

    i.fa.fa
        color green
        padding-right 0.5em


.panel
    margin-top 20px
    padding 20px 0
    &.slogan
        background rgba(255, 255, 255, .5)
        h1, h2, h3, h4, h5
            color dark-green



.c1-2.bubble-l
        bubble('right', light)
        margin: 0px auto 20px
.c1-2.bubble-r
        bubble('left', light)
        margin: 30px auto 0px

.call-to-action
    simple-button(action-c, large)
    color white
    margin 40px auto

img.mm
    height: 250px
    &.man
        width: 184px
    &.woman
        width: 256px

section
    height 100%
    article:nth-child(1)
        border-top none
        margin 5% auto

    article
        min-height 50%
        margin-bottom 30px
        z-index 0
        transform translateZ( 0 )
        transition all 1s ease
        backface-visibility hidden
        center(site_max_width, site_padding)
        text-align center
        > header
            padding-top (header-height/2)
            border-top: 1px solid light-green
            h1
                text-align center

        .tags
            column(1/1)
            background site_background !important

.contacts
    margin-bottom 100px
    font-size large
    > p:first-child
        padding-top 50px

.contact
    margin-bottom 40px
    .title
        font-size larger
        font-family helvetica
    .name
        padding-top 5px
    img
        width 200px
        height 200px
        border-radius 50%
        border 5px solid light-green


// #content-3
//      p
//         area(color= simple-gradient(white strength = 10%))

// #content-4
//      .contact
//         area(color= simple-gradient(c4, strength = -10%))


// 4 columns
//@media (max-width: 1024px)


// 3 columns
//@media (max-width: 768px)

// Small tablet
@media (max-width: 640px)
    .content
        .contacts.c1-2
            column(1/1)
            p:first-child
                padding-top 10px

//Mobile
@media (max-width: 480px)
    .full-bg
        &.slogan
            background none
    section
        article:nth-child(1)
            padding-bottom inherit
    .content
        .c1-2
            column(1/1)

// Mobile
bp()

section
    border-radius 0

article
    div
        p
            float: none

.content
    center(100%)

endbp()
