@charset "UTF-8"

// Angular
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide
  display none !important

ng\:form
  display block

.ng-animate-start
    border-spacing 1px 1px; -ms-zoom:1.0001
.ng-animate-active
    border-spacing 0px 0px; -ms-zoom:1


// Layout


.browsehappy
    padding 0px 0 0px
    absolute top left
    z-index 101
    text-align center
    border 1px solid red


// Mind Flow textual style
mind()
    font-family kaushan
    text-decoration none
    text-align right
    padding-left 0.5em
    padding-right 0.2em

flow()
    font-family kaushan
    font-style normal
    text-decoration none
    padding-left 0px
    padding-right 0.5em

.mind
    display inline
    mind()
    position relative
    top -0px
.flow
    display inline
    flow()
    position relative
    top 0px
.yingyang
    display inline-block
    font-size 25px
    position relative
    //left: -40px
    top 3px
    //transform rotate(180deg)

h1
    .mind, .flow
        font-size: ms(20)

// Base layout
html, body
    height 100%
    background site_background

header#top
    //opacity 0.7 not working
    background white
    fixed top left
    z-index 100
    overflow hidden
    height header-height
    width 100%
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
    > div
        center(site_max_width, site_padding)
    a.logo
        absolute: top left
        text-decoration none
    .language
        absolute top right
        right 20px
        padding 0
        text-align center
        a
            display inline-block
            padding 5px
            background action-c
            color white
            width 40px
            text-decoration none
        a:hover
            color #fff
            text-decoration underline
        a.selected
            background light-green
            pointer-events none
            cursor default
            text-decoration none
    nav
        font-family helvetica
        //font-size: ms(16)
        //line-height: ms(20)
        column(3/4, offset: 1/4)
        overflow: hidden
        margin-top 35px
        a
            //transition: all 2s
            font-weight 200
            font-weight 200
            // max 5 menuitems
            column(1/5 3/4)
            color green
            text-decoration none
            text-align center
            line-height 30px
        a:hover
            font-weight 400
            text-decoration underline
        a.selected
            font-weight 400
            color dark-green
            pointer-events none
            text-decoration none
            cursor default

a.mirrormonkey, h1.mirrormonkey
    font-variant small-caps
a.mirrormonkey
    font-size large

footer
    width 100%
    background cashmir
    text-align center
    line-height 25px
    color lighten(green, 10%)


aside
    column(1/4)
    a
        simple-button()
        display block
        margin-bottom 10px



// Form
form
    forms()
    border-radius 5px
    background light-green
    margin 20px auto
    padding-top 40px

    .field
        field()
        text-align center
        width auto

    label
        label()

    input[type='text']
        input()

    input[type='submit']
        simple-button(action-c, large)
        color white
        margin 20px auto


// Mobile
bp()


header#top nav, aside, article
    stack()

header#top
    position static
    height 0
    nav
        display none
    //column(1/2, cycle:2)


header#top nav a, aside
    margin-bottom 10px

endbp()
