---
layout: index-article
title: CONTACTS
tags: ['Address', 'email', 'phone', 'social media']
articleOrder: 5
---

.c1-1.contacts(itemscope, itemtype='http://schema.org/Organization')
    img.logo(src='/img/yy-mf-100.svg', onerror='this.onerror=null; this.src="/img/yy-mf-100.png" ', alt='MindFlow logo', itemprop='logo')
    p.name(itemprop='name') MindFlow Ltd
    p(itemprop='address', itemscope, itemtype='http://data-vocabulary.org/Address' )
        &nbsp;
        i.fa.fa-map-marker
        br
        span(itemprop='streetAddress') Atomitie 1
        br
        span(itemprop='postalCode') FIN-00370 HELSINKI
        br
        span(itemprop='countryName') Finland
        br
        div(itemprop='location')
            p(itemscope, itemtype='http://schema.org/Place')
                a(href='http://map-generator.net/en/maps/159442', title='Map to MindFlow HQ', target='map', itemprop='map') Map&raquo;
                div(itemprop='geo')
                    p(itemscope, itemtype='http://schema.org/GeoCoordinates')
                        span(property='latitude', content='60.223258')
                        span(property='longitude', content='24.867028')


    p
        &nbsp;
        i.fa.fa-envelope-o
        br
        span(itemprop='email') contact (@) mindflow.fi


    p
        &nbsp;
        i.fa.fa-phone
        br
        span(itemprop='telephone') +358 (0)400 954 273

    p
        br
        a(href='http://www.linkedin.com/company/', title='MindFlow @ LinkedIn', target='some', role='link')
            i.some.fa.fa-linkedin
        a(href='http://www.youtube.com/channel/', title='MindFlow @ Youtube', target='some', role='link')
            i.some.fa.fa-youtube
        a(href='https://twitter.com/', title='MindFlow @ Twitter', target='some', role='link')
            i.some.fa.fa-twitter
        a(href='https://www.facebook.com/', title='MindFlow @ Facebook', target='some', role='link')
            i.some.fa.fa-facebook


//-.c1-2.contacts
    != partial( 'contact-us', {header: 'Feel free to send us a message!', nameLabel: 'Your name', emailLabel: 'Your email address', msgLabel:'Your message'} )
