---
layout: index-article
title: TEAM
tags: ['Who is who']
articleOrder : 3
---

.contact.c1-2(itemscope, itemtype='http://data-vocabulary.org/Person')
    .img.ari(alt='Photo of Ari', itemprop='photo')
    .title(itemprop='title') ExecutiveMonkey (CEO)
    .name
        a.linkedIn(href='http://fi.linkedin.com/in/arivainio', target='some', alt='Ari @ LinkedIn', role='link', itemprop='url')
            i.some.fa.fa-linkedin-square
            span(itemprop='name') Ari Vainio&raquo;

.contact.c1-2(itemscope, itemtype='http://data-vocabulary.org/Person')
    .img.taina(alt='Photo of Taina', itemprop='photo')
    .title(itemprop='title') MarketingMonkey (CMO)
    .name
        a.linkedIn(href='http://fi.linkedin.com/pub/taina-tuomikorpi/19/144/b0', target='some', alt='Taina @ LinkedIn', role='link', itemprop='url')
            i.some.fa.fa-linkedin-square
            span(itemprop='name') Taina Tuomikorpi&raquo;

.contact.c1-1(itemscope, itemtype='http://data-vocabulary.org/Person')
    .img.vesa(alt='Photo of Vesa', itemprop='photo')
    .title(itemprop='title') HackerMonkey (CTO)
    .name
        a.linkedIn(href='http://fi.linkedin.com/pub/vesa-lindfors/0/215/a75/', target='some', alt='Vesa @ LinkedIn', role='link', itemprop='url')
            i.some.fa.fa-linkedin-square
            span(itemprop='name') Vesa Lindfors&raquo;
    //-span.caption
        div
            |System and UX Architect
            br
            |Entrepreneur
            br
            |Several global projects
