
if document.title
    header

        if document.title == 'MirrorMonkey'
            h1.mirrormonkey
                |#{document.title}
        else
            h1
                |#{document.title}

        if document.tags
            p.tags!= document.tags.join(' | ')


.content!= content
